{%load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Leaf - Cadastre-se</title>
    <link rel="icon" type="image/png" href="../img/logo.png">
    <link rel="stylesheet" href="../static/css/cadl.css">
    <link rel="stylesheet" href="../static/css/dropdown.css">
    <link rel="stylesheet" href="../static/css/font.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
</head>
<body>
    <header>
        <a href ="/" ><img class="img1" src="../static/img/logo.png" ></a>
        <a class="logo">Mighty Leaf</a>
        <div class="dropdown">
            <img src="../static/img/Menu.png " class="img1">
                        <div class="dropdown-content">
                            <a href="/plantas">Plantas</a>
                            <a href="/log">Entre com uma Conta</a>
                            <a href="/cad">Cadastre uma Conta</a>
                            <a href="#">Encerrar Sessão</a>
                        </div>
        </div>
    </header>

    <section class="signup-section">
        <div class="signup-box">
            <h2>Cadastro</h2>
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Nome de usuário" required><br>
                    <input type="password" name="password" placeholder="Senha" required><br>
                    <input type="password" name="password_confirm" placeholder="Confirme a senha" required><br>
                    <button type="submit">Cadastrar</button>
                </form>

            <p>Já tem uma conta? <a href="/log">Entre aqui</a></p>
        </div>
    </section>

    <footer>
        <p>© 2024 Mighty Leaf - Todos os direitos reservados.</p>
    </footer>
</body>
</html>

