<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mighty Leaf - Cadastre-se</title>
    <link rel="icon" type="image/png" href="../staics/img/logo.png">
    <link rel="stylesheet" href="../staics/css/cadl.css">
    <link rel="stylesheet" href="../staics/css/dropdown.css">
    <link rel="stylesheet" href="../staics/css/font.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
    <header>
        <a href ="home.html" ><img class="img1" src="../staics/img/logo.png" ></a>
        <a class="logo">Mighty Leaf</a>
        <div class="dropdown">
            <img src="../staics/img/Menu.png " class="img1">
                        <div class="dropdown-content">
                            <a href="./plantas.html">Plantas</a>
                            <a href="/log">Entre com uma Conta</a>
                            <a href="../paginas/cad.html">Cadastre uma Conta</a>
                            <a href="#">Encerrar Sessão</a>
                        </div>
        </div>
    </header>

    <section class="signup-section">
        <div class="signup-box">
            <h2>Cadastre-se</h2>
            <form action="#" method="POST">
                <label for="name">Nome Completo:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email" required>
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Cadastrar</button>
            </form>
            <p>Já tem uma conta? <a href="entrar-conta.html">Entre aqui</a></p>
        </div>
    </section>

    <footer>
        <p>© 2024 Mighty Leaf - Todos os direitos reservados.</p>
    </footer>
</body>
</html>

