<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantas e Mais</title>
    <link rel="stylesheet" href="../static/css/plantas.css">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/dropdown.css">
</head>
<body>
    <header>
        <a href ="/home" ><img class="img1" src="../static/img/logo.png" ></a>
        <a class="logo">Mighty Leaf</a>
        <div class="dropdown">
            <img src="../static/img/Menu.png " class="img1">
                <div class="dropdown-content">
                    <a href="/plantas">Plantas</a>
                    <a href="/log">Entre com uma Conta</a>
                    <a href="/cad">Cadastre uma Conta</a>
                    <a href="#">Encerrar Sessão</a>
                </div>
        </div>
    </header>
    <div class="container">
        <div class="category" >
            <img src="../static/img/CAC.png" alt="Cactos">
            <h3>Cactos</h3>
            <p>Lista para seleção das flores em forma de formulario</p>        
        </div>
        <div class="category" >
            <img src="../static/img/alface_card.png" alt="Hortaliças">
            <h3>Hortaliças</h3>
            <p>Lista para seleção das flores em forma de formulario</p>
        </div>
        <div class="category" >
            <img src="../static/img/Flor_card.png" alt="Flores">
            <h3>Flores</h3>
            <p>Lista para seleção das flores em forma de formulario</p>
        </div>
    </div>
</body>
</html>
